body {background-color:black}
#wrapper {max-width:1000px; overflow:hidden; align-content:center; margin:0 auto}

/*styl czasomierza*/
#timer {color:aqua; font-size: 50px; font-style:bold; margin:0 auto; width:250px; text-align:center}
#hour {display:inline-block}
#minute {display:inline-block; vertical-align:top}
#second {display:inline-block; vertical-align:top}
.between {display:inline-block; vertical-align:top}

/*styl przycisków*/
.row {margin:10px auto; width:300px}
#ten{background-color:aqua; display:inline-block; vertical-align:top; margin:0 15px; width:80px; padding:20px; font-size:30px; font-style:oblique}
#twenty{background-color:aqua; display:inline-block; vertical-align:top; margin:0 15px; width:80px; padding:20px; font-size:30px; font-style:oblique}
#thirty{background-color:aqua; display:inline-block; vertical-align:top; margin:0 15px; width:80px; padding:20px; font-size:30px; font-style:oblique}
#forty{background-color:aqua; display:inline-block; vertical-align:top; margin:0 15px; width:80px; padding:20px; font-size:30px; font-style:oblique}
#fifty{background-color:aqua; display:inline-block; vertical-align:top; margin:0 15px; width:80px; padding:20px; font-size:30px; font-style:oblique}
#sixty{background-color:aqua; display:inline-block; vertical-align:top; margin:0 15px; width:80px; padding:20px; font-size:30px; font-style:oblique}
#stop{background-color:aqua; margin: 0 auto; vertical-align:top; width:230px; padding:20px; font-size:30px; font-style:oblique; text-align:center}